<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0">

  <display-name>Digest Prototype Project</display-name>
  <servlet>
  	<servlet-name>OAuthCallback</servlet-name>
  	<servlet-class>bobby.prototype.digest.servlet.OAuthCallback</servlet-class>
  	<init-param>
  		<param-name>consumer.key</param-name>
  		<param-value>3MVG9A2kN3Bn17htbtB15HsKzH3PcKL9ahi7xkVavpOYEGaMMTAcMyY_YieRCPeZHFLmsnzyzn0XzO0ePajfe</param-value>
  	</init-param>
  	<init-param>
  		<param-name>consumer.secret</param-name>
  		<param-value>8190326261782572</param-value>
  	</init-param>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
  <servlet-name>OAuthCallback</servlet-name>
  <url-pattern>/OAuthCallback</url-pattern>
  </servlet-mapping>
</web-app>
